body{
    margin: 0;
    padding: 0;
}

.blackground{
    background-color: black;
}

p{
    margin: 0;
    color: rgb(96, 210, 249);
    font-size: 12px;
    font-family: 'Montserrat';
}

h1{
   font-size: 20px;
   color: #FFE7D4;
   margin-bottom: 0.5rem;
   font-family: 'Montserrat';
}

h2{
    font-size: 14px;
    color: white;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
}

h3{
    font-size: 14px;
    color: #FFE7D4;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat';
}

h4{
    padding: 0rem;
    font-size: 14px;
    background-color: #FFE7D4;
    font-family: 'Montserrat';
}

h5{
    font-size: 13px;
    color: #675E69;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

h6{
    font-size: 11px;
    color: #675E69;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat';
}

hr{
    background-color: #FFE7D4;
    border: 1px solid #FFE7D4;
    border-radius: 5px;
}

.main-box{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}

.left-side-box{
    background-color: #004AAD;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.invisible{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.image-container{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.profile-image{
    filter: grayscale(100%);
    background-color: rgb(92, 92, 193);
    border-radius: 50%;
    border: 4px solid rgb(55, 55, 126);
    width: 220px;
    padding-bottom: 2rem;
    transition : all 0.5s ease-out;
    padding: 0%;
}

.profile-image:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}

.right-side-box{
    padding-left: 2rem;
    padding-right: 8rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    transition: all 1s;
}

.right-side-box > p{
    color: #302c30;
}

.visibility{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}